

:root {
	 --base-size: 16px;
	 --gutter-size: calc(3 * var(--base-size));

	 --primary--color: black;
	 --secondary--color: rgb(233, 251, 228);
	 --background--color: rgb(180, 205, 255);

	 font-size: var(--base-size);
}

@media (min-width:600px){
	:root {
		--base-size: 20px;
		--gutter-size: calc(5 * var(--base-size));
	}
}

header{
	background-color:  var(--background--color);
	padding-block: calc(5*var(--base-size));
}

#maincontent{
	block-size: 75vh;
	padding-top: var(--base-size);
	padding-bottom: calc(2*var(--base-size));
}

footer{
	background-color:  var(--secondary--color);
	padding-bottom: var(--base-size);
	padding-top: calc(5*var(--base-size));
}

.gutters{
	padding-inline: var(--gutter-size);
}

.list-of-things{
	display: flex;
	gap: 60px;

	a {
		display: block;
		padding-inline: 44px;
		padding-block: 24px;
		border-radius: 24%;
		background-color: var(--secondary--color);
		width: fit-content;
	}
	
}

